<div class="edit" *ngIf="food">
    <h2>Edit this dish here:</h2>
    <div class="displayItem">
      <div style="border: 3px solid #97DDFC; width: 500px">
        <p>Dish name: {{food.dish}}</p>
        <img [src]="food.pic" alt="food" width=350, height=250>
      </div>
    </div>
    <div *ngIf="msg" style="color: red">
      <p *ngIf="msg.errors.dish">{{msg.errors.dish.message}}</p>
      <p *ngIf="msg.errors.pic">{{msg.errors.pic.message}}</p>
      <p *ngIf="msg.errors.price">{{msg.errors.price.message}}</p>
      <p *ngIf="msg.errors.quan">{{msg.errors.quan.message}}</p>
      <p *ngIf="msg.errors.desc">{{msg.errors.desc.message}}</p>
      <p *ngIf="msg.errors.exp">{{msg.errors.exp.message}}</p>
    </div>
    <p *ngIf="exist" style="color: red">{{exist}}</p>
    <form (submit)="editDish(eDish)" #newDish="ngForm" class="wrapper">
    <br> Dish name :
    <input class="form-control" type="text" name="dish" [(ngModel)]="food.dish">
    <br> Picture url:
    <input class="form-control" type="text" name="pic" [(ngModel)]="food.pic">
    <br> Price:
    <input class="form-control" type="text" name="price" [(ngModel)]="food.price">
    <br> Zip Code:
    <input class="form-control" type="text" name="zip" [(ngModel)]="food.zip">
    <br> Quantity:
    <input class="form-control" type="text" name="quan" [(ngModel)]="food.quan">
    <br> Description:
    <input class="form-control" type="text" name="desc" [(ngModel)]="food.desc">
    <br> Expiration Date:
    <input class="form-control" type="date" name="exp" [(ngModel)]="food.exp">
    <br>
    <input class="away btn btn-primary" type="submit" value="Edit Dish">
    <button class="away btn btn-primary" (click)="delete(food._id)">Delete Dish</button>
    <button class="btn btn-primary" (click)="cancel(food.cook.name)">Go Back</button>
  </form>
 
</div>