.result {
    width: 1200px;
    height: auto;
    -webkit-column-count: 2;
    text-align: center;

}

.displayItem{
    font-size: 30px;
    text-align: center;
    margin: 15px;
    
}
.newDish {
    width: 500px;
}
.away {
   margin-right: 15px;
}